body{
    margin: auto;
    padding: 10px;
    display: flex;
   justify-content: center;
}
p {
    margin: 3px 10px;

}

li{
    list-style: none;
}
h3{
    background-color: #6284ce;
    color:  white;

    display: flex;
    justify-content: center;
}
.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.link:hover {
    fill: green;
    color: green;;
}

.btn{
    position: absolute;
    right: 0;
    margin: 20px;
}
.svg {
    height: 35px;
    width: 35px;
    
}
.svg:hover {
    fill: green;
}
.svg__tel {
    fill: white;
    background-color: black;
    
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
.thumb {
    height: 200px;
    width: 200px;
    padding: 10px;
}
.contact__link {
    list-style: none;
    margin: 3px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.contact__title {
    
}
.developer{
    margin-left: 50px;
    min-height: 255px;
}
.projects__container {
    font-family: Manrope;
    font-size: 28px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.01em;
   


    padding: 0;
    height: 167px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.education__text {
    margin-left: 50px;
}
.hero {
    width: 220px;
    background-color:#d4d4d4;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;

}
.container{
    margin-top: 70px;
    width: 400px;
    
}
.style {
    display: flex;
    
}

.developer__contact{
    background-color: blanchedalmond;
    width: 100%;
   
}

.contact__container {
    padding: 0px 10px 0px 10px;
    display: flex;

}
